<!DOCTYPE html>
<html>
  <head>
    <title>JAMES ROY POULTER</title>
    <meta author="James Roy Poulter" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="index.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div id="container"><h1>
          <a href="/"><img src="logo.png", alt="James Roy Poulter"></a>
        </h1>
        <div id="content">
            Welcome To HAML to HTML Converter Online
        </div>
        <div id="sidebar">
          <ul id="links">
            <li>about</li>
            <li>portfolio</li>
            <li>video</li>
            <li>contact</li>
          </ul>
          <div id="social">
            <ul id="links">
              <li><a href="http://facebook.com">fb</a></li>
              <li><a href="http://twitter.com">tw</a></li>
              <li><a href="http://facebook.com">lkn</a></li>
              <li><a href="http://facebook.com">gthb</a></li>
            </ul>
          </div> <!-- closes social -->
        </div> <!-- closes sidebar -->
      </div> <!-- closes container -->
  </body>
</html>