!!!
%html
  %head
    %title JAMES ROY POULTER
    %meta{:author => "James Roy Poulter"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "index.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"}
        %script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
        %script{:src => "cycle.js"}
        %script{:src => "index.js"}
  %body
    #container
      %h1
        <img src="i/b/logo.png", alt="James Roy Poulter" id="header_logo">
      #content_container
        #start_div
          #start_about_images
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
          #start_portfolio_images
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
          #start_video_images
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
            <img src="i/s/unlibri.jpg", alt="James Roy Poulter" id="logo">
        #about_div about
        #portfolio_div portfolio
        #video_div
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/70320776", :webkitallowfullscreen => "", :width => "500"}
          weekend change
          startup weekend
          date
          description
        #contact_div contact
      #sidebar
        #navbar
          %ul#links
            %li#about_link about
            %li#portfolio_link portfolio
            %li#video_link video
            %li#contact_link contact
        #social
          %ul#links
            .divider#height
              %li
                %a{:href => "http://facebook.com"} <img src="i/c/Facebook.png", id="facebook">
                %a{:href => "http://facebook.com"} <img src="i/c/Facebook_purple.png", id="facebook_purple">
            .divider
              %li
                %a{:href => "http://twitter.com"} <img src="i/c/Twitter.png", id="twitter">
                %a{:href => "http://twitter.com"} <img src="i/c/Twitter_purple.png", id="twitter_purple">
            .divider
              %li
                %a{:href => "http://facebook.com"} <img src="i/c/LinkedIn.png", id="linkedin">
                %a{:href => "http://facebook.com"} <img src="i/c/LinkedIn_purple.png", id="linkedin_purple">
            .divider
              %li
                %a{:href => "http://github.com"} <img src="i/c/Github.png", id="github">
                %a{:href => "http://github.com"} <img src="i/c/Github_purple.png", id="github_purple">